extends layout
block content
    div(class="container-fluid")
      h1= title
    - let result= results
       div(class="row")
           each form,index in result
                div(class = "col-sm-2 bg-warning" onclick=`buy(${index})`) #{form.zara_dresstype} 
                div(class = "col-sm-2 bg-warning" onclick=`buy(${index})`) #{form.zara_color} 
                div(class = "col-sm-2 bg-warning" onclick=`buy(${index})`) #{form.zara_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }

