extends layout
block content
    div(class="container-fluid")
        h1= title
    - let result=results 
        div(class="container-fluid")
        div(class="row m-1")
        each item in result
         -let destination = `dispatch(\"/zara/update?id=${item._id}\")`
         div(class="row-sm-2", class="m-1") Item#{item.zara_dresstype}(#{item.zara_color}) is #{item.zara_price}
          button.btn( class="btn-primary ml-1", onclick= destination) Update

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }
    script.
        function dispatch(path){
            window.location.href=path
        }