extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let zaraid = toShow._id
    - let zara_color = toShow.zara_color
    - let zara_dresstype = toShow.zara_dresstype
    - let zara_price = toShow.zara_price
    - let actionid = "/resource/zaras/" + zaraid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{zaraid}
    form(id='zaraForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.zaraAttr(for='zara_color',class="col-form-label") zara Colour
        div(class="col-auto")
          input#zara_color(type='text', name='zara_color',class="form-control", value=zara_color)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.zaraAttr(for='zara_dresstype',class="col-form-label") zara dresstype 
        div(class="col-auto")
          input#zara_dresstype(type='text', name='zara_dresstype',class="form-control", value=zara_dresstype)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.zaraAttr(for='zara_price',class="col-form-label") zara cost
        div(class="col-auto")
          input#zara_price(type='number', name='zara_price',class="form-control", value=zara_price)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
      document.forms['zaraForm'].addEventListener('submit', (event) => {
       event.preventDefault();
      // TODO do something here to show user that form is being submitted
       fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
       });
      });