extends layout

block content
  h1= title
  //- - let items = ['zara_type','quantity','cost']
  - let items = results;
  - let o;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    a(class="btn btn-primary" href="/zara/create") Create
    div(class='row m-1')
    div(class="row row-cols-1 row-cols-sm-4 g-6")
      each item,index in items
        - let destination = `dispatch(\"/zara/update?id=${item._id}\")`
        - let details = `dispatch(\"/zara/detail?id=${item._id}\")` 
      
        div(class="zarad text-white bg-dark mb-3" class='col' class='zarad' class='zarad-body' class='zarad-text' onclick='buy('+index+')') Item #{item.zara_color}(#{item.zara_dresstype})is #{item.zara_price} 
          <br><br>
          span(class="btn btn-info", onclick= details) Details
          <br>
          a(class="btn btn-warning", href="/zara/delete/?id="+item._id) Delete
          <br>
          button.btn( class="btn-success ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }